body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

button {
  color: green;
  border: non;
  padding: 25px 35px;
  cursor: pointer;
  border: 1px solid #70c05b;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  width: 420px;
  height: 431px;
  box-shadow: 8px 16px 32px 0 rgba(255, 102, 51, 0.2);
  background: #fff;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  /* margin-top: 72px; */
  margin-right: 80px;
  /* margin-bottom: 32px; */
  margin-left: 80px;
}

p {
  margin-top: 68px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #6b6a6a;
}

input[type="text"] {
  width: 228px;
  height: 36px;
  margin-bottom: 10px;
  border: 1px solid #70c05b;
  border-radius: 4px;
  padding: 12px 16px;
  /* margin-top: 59px;  */
  margin-right: 80px;
  margin-bottom: 32px;
  margin-left: 80px;
}

.login-button {
  background: #f0b489;
  color: #f63;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 16px;
  width: 260px;
  height: 68px;
  margin-top: 10px;
  margin-right: 80px;
  margin-bottom: 32px;
  margin-left: 80px;
}

.login-button::shadow {
  box-shadow: 4px 8px 16px 0 rgba(112, 192, 91, 0.2);
  background: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.register-button {
  color: green;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #70c05b;
  border-radius: 4px;
  padding: 8px;
  width: 121px;
  height: 32px;
  margin-top: 10px;
  margin-right: 80px;
  margin-bottom: 32px;
  margin-left: 80px;
}

.forgot-password {
  margin-top: 10px;
  margin-bottom: 32px;
  color: rgb(69, 69, 69);
  text-decoration: none;
}
